
# ignore terraform providers and caches
**/.terraform/**
**/node_modules/**


# local and build artifacts
.env.local
.idea/
.next/
coverage/
tsconfig.tsbuildinfo
**/node_modules/**


# local and build artifacts
.env.local
.idea/
.next/
coverage/
tsconfig.tsbuildinfo
**/node_modules/**

