.logo {
  width: 80px;
  height: auto;
  transition: width 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .logo {
    width: 50px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 35px;
  }
}
